@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css');

/*********************MOBILE*********************/

.featuredContainer {
  background-color: darkgrey;
  text-align: center;
  position: absolute;
  width: 100vw;
  font-family: "Josefin Sans";
}
.textContainer {
  color: #484848;
}
.imageContainer {
  width: 80vw;
  height: 40vw;
  overflow: scroll;
  border: 1px solid black;
  -webkit-box-shadow: 8px 8px 5px 5px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 8px 8px 5px 5px rgba(0, 0, 0, 0.16);
  box-shadow: 8px 8px 5px 5px rgba(0, 0, 0, 0.16);
  margin-top: 10px;
  margin: auto;
}
.projectContainer {
  margin: 0px;
  width: 100vw;
  padding-bottom: 20px;
  padding-top: 20px;
}
/*********************TABLET*********************/

@media screen and (min-width: 545px) {
  .imageContainer {
    width: 40vw;
    height: 40vw;
    overflow: scroll hidden;
    -webkit-box-shadow: 8px 8px 5px 5px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 8px 8px 5px 5px rgba(0, 0, 0, 0.16);
    box-shadow: 8px 8px 5px 5px rgba(0, 0, 0, 0.16);
    border: 1px solid black;
  }
  .textContainer {
    width: 40vw;
    color: #484848;
  }
  .projectContainer {
    width: 100vw;
    padding-top: 20px;
  }
}
/*********************DESKTOP*********************/

@media screen and (min-width: 769px) {
  .imageContainer {
    width: 40vw;
    height: 35vw;
    overflow: scroll hidden;
    border: 1px solid black;
    -webkit-box-shadow: 8px 8px 5px 5px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 8px 8px 5px 5px rgba(0, 0, 0, 0.16);
    box-shadow: 8px 8px 5px 5px rgba(0, 0, 0, 0.16);
    margin: 0;
  }
  .textContainer {
    width: 35vw;
    display: flex;
    justify-content: center;
    color: #484848;
  }
  .projectContainer {
    margin: 0px;
    width: 100vw;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .imageContainer {
    width: 35vw;
    height: 30vw;
  }
}
