@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css');

/*MOBILE*/

.aboutMeContainer {
  background-color: #34495E;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100vw;
  font-family: "Josefin Sans";
}
.aboutMeChildContainer {
  margin-left: 0;
  margin-right: -10px;
  width: 100vw;
}
/* entire container, keeps perspective */
/*.flip-container {
	perspective: 1000px;
	transform-style: preserve-3d;
}*/
	/*  UPDATED! flip the pane when hovered */
	/*.flip-container:hover .back {
    opacity: 1;
    transform:scale(1.03);
		/*transform: rotateY(0deg);*/
	/*}*/
	/*.flip-container:hover .front {
    opacity: 0;
	    /*transform: rotateY(180deg);*/
.back {
  width: 100vw;
	height: 30vw;
}
/* flip speed goes here */
.flipper {
	/*transition: 1s;
	transform-style: preserve-3d;
	position: relative;*/
  text-align: center;
  border-bottom: 1px solid #34495E;
}
/* hide back of pane during swap */
.front, .back {
	/*backface-visibility: hidden;*/
	/*transition: 1s;
	transform-style: preserve-3d;*/
	/*position: absolute;*/
	/*top: 0;
	left: 0;*/
}
/*  UPDATED! front pane, placed above back */
.front {
	/*z-index: 2;*/
  background-color: #34495E;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e6e6e6;
  /*transform: rotateY(0deg);*/
}
/* back, initially hidden pane */
.back {
    background-color:  #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #484848;
    /*transform: rotateY(-180deg);*/
}
/* KEEP IN TOUCH */
.kitback {
  color: #34495E;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 27vw;
}
.kitback h6 {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 0;
  margin-top: 0;
}
.kitback p {
  font-size: 15px;
}
/* SKILLS */
.skillsBack {
  color: #34495E;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  font-size: 11px;
  justify-items: center;
}
.backPone {
  width: 70vw;
}
.backPtwo {
  width: 85vw;
}
.backPthree {
  width: 70vw;
}
/* ABOUT */
.aboutBack {
  line-height: 1.2;
  font-size: 14px;
}
.aboutBack p {
  width: 90vw;
}
/****TABLET*******/
@media screen and (min-width: 545px) {
  .aboutMeContainer {
    height: 15vw;
    background-color: #34495E;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
  }
  .aboutMeChildContainer {
    margin-left: 0;
    margin-right: -10px;
    width: 33vw;
  }
  /* entire container, keeps perspective */
  .flip-container {
  	perspective: 1000px;
  	transform-style: preserve-3d;
  }
  	/*  UPDATED! flip the pane when hovered */
  	.flip-container:hover .back {
      opacity: 1;
      transform:scale(1.03);
  		/*transform: rotateY(0deg);*/
  	}
  	.flip-container:hover .front {
      opacity: 0;
  	    /*transform: rotateY(180deg);*/
  	}
  .flip-container, .front, .back {
    width: 33vw;
  	height: 15vw;
  }
  /* flip speed goes here */
  .flipper {
  	transition: 1s;
  	transform-style: preserve-3d;
  	position: relative;
    text-align: center;
  }
  /* hide back of pane during swap */
  .front, .back {
  	/*backface-visibility: hidden;*/
  	transition: 1s;
  	transform-style: preserve-3d;
  	position: absolute;
  	top: 0;
  	left: 0;
  }
  /*  UPDATED! front pane, placed above back */
  .front {
  	z-index: 2;
    background-color: #34495E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e6e6e6;
    font-size: 18px;
    /*transform: rotateY(0deg);*/
  }
  /* back, initially hidden pane */
  .back {
      background-color:  #e6e6e6;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #484848;
      /*transform: rotateY(-180deg);*/
  }
  /* KEEP IN TOUCH */
  .kitback {
    color: #34495E;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
  }
  .kitback h6 {
    font-weight: bold;
    font-size: 9px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .kitback p {
    font-size: 8px;
  }
  .kitBorderBottom {
    border-bottom: thin solid #34495E;
    width: 28vw;
  }
  /* SKILLS */
  .skillsBack {
    color: #34495E;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 9px;
    justify-items: center;
  }
  .backPone {
    width: 28vw;
  }
  .backPtwo {
    width: 33vw;
  }
  .backPthree {
    width: 28vw;
  }
  /* ABOUT */
  .aboutBack {
    line-height: 1.2;
    font-size: 9px;
  }
  .aboutBack p {
    width: 31vw;
  }
}
/******DESKTOP*****/
@media screen and (min-width: 769px) {
.aboutMeContainer {
  height: 15vw;
  background-color: #34495E;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  align-content: center;
}
.aboutMeChildContainer {
  margin-left: 0;
  margin-right: -20px;
  width: 33vw;
}
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	transform-style: preserve-3d;
}
	/*  UPDATED! flip the pane when hovered */
	.flip-container:hover .back {
    opacity: 1;
    transform:scale(1.03);
		/*transform: rotateY(0deg);*/
	}
	.flip-container:hover .front {
    opacity: 0;
	    /*transform: rotateY(180deg);*/
	}
.flip-container, .front, .back {
  width: 33vw;
	height: 15vw;
}
/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;
	position: relative;
  text-align: center;
}
/* hide back of pane during swap */
.front, .back {
	/*backface-visibility: hidden;*/
	transition: 1s;
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
}
/*  UPDATED! front pane, placed above back */
.front {
	z-index: 2;
  background-color: #34495E;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e6e6e6;
  font-size: 20px;
  /*transform: rotateY(0deg);*/
}
/* back, initially hidden pane */
.back {
    background-color:  #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #484848;
    /*transform: rotateY(-180deg);*/
}
.KITContainer {
  border-left: thin solid white;
}
.skillsContainer {
  border-right: thin solid white;
}
/* KEEP IN TOUCH */
.kitback {
  color: #34495E;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.kitback h6 {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 0;
}
.kitback p {
  font-size: 10px;
}
.kitBorderBottom {
  border-bottom: thin solid #34495E;
  width: 25vw;
  padding-bottom: 5px;
}
/* SKILLS */
.skillsBack {
  color: #34495E;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  font-size: 12px;
  justify-items: center;
}
.backPone {
  width: 30vw;
}
.backPtwo {
  width: 33vw;
}
.backPthree {

  width: 30vw;
}
/* ABOUT */
.aboutBack {
  line-height: 1.2;
  font-size: 12px;
}
.aboutBack p {
  width: 31vw;
  }
}
@media screen and (min-width: 1000px) {
  /* ABOUT */
  .aboutBack {
    line-height: 1.5;
    font-size: 16px;
  }
  .aboutBack p {
    width: 31vw;
  }
  /* SKILLS */
  .skillsBack {
    color: #34495E;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 16px;
    justify-items: center;
  }
  .backPone {
    width: 26vw;
  }
  .backPtwo {
    width: 33vw;
  }
  .backPthree {
    width: 26vw;
  }
  /* KEEP IN TOUCH */
  .kitback {
    color: #34495E;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .kitback h6 {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
  }
  .kitback p {
    font-size: 14px;
  }
  .kitBorderBottom {
    border-bottom: thin solid #34495E;
    width: 23vw;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  /* KEEP IN TOUCH */
  .kitback {
    color: #34495E;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .kitback h6 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .kitback p {
    font-size: 16px;
  }
  .kitBorderBottom {
    border-bottom: thin solid #34495E;
    width: 23vw;
    padding-bottom: 15px;
  }
  .phoneSection {
    margin-top: -10px;
  }
/*SKILLS */
  .skillsBack {
    color: #34495E;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 20px;
    justify-items: center;
  }
  .backPone {
    width: 26vw;
  }
  .backPtwo {
    width: 33vw;
  }
  .backPthree {
    width: 26vw;
  }

}
