@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css');

/*MOBILE*/

.aboutMeContainer {
  background-color: #484848;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100vw;
}
.aboutMeChildContainer {
  margin-left: 0;
  margin-right: 0;
}
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	transform-style: preserve-3d;
}
	/*  UPDATED! flip the pane when hovered */
	.flip-container:hover .back {
    opacity: 1;
    transform:scale(1.05);
		/*transform: rotateY(0deg);*/
	}
	.flip-container:hover .front {
    opacity: 0;
	    /*transform: rotateY(180deg);*/
	}

.flip-container, .front, .back {
  width: 100vw;
	height: 30vw;
}

/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;
	position: relative;
  text-align: center;
}

/* hide back of pane during swap */
.front, .back {
	/*backface-visibility: hidden;*/
	transition: 1s;
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
}

/*  UPDATED! front pane, placed above back */
.front {
	z-index: 2;
  background-color: #484848;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e6e6e6;
  /*transform: rotateY(0deg);*/
}

/* back, initially hidden pane */
.back {
    background-color:  #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #484848;
    /*transform: rotateY(-180deg);*/
}

/****TABLET*******/
@media screen and (min-width: 545px) {
  .aboutMeContainer {
    height: 15vw;
    background-color: #484848;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
  }
  .aboutMeChildContainer {
    margin-left: 0;
    margin-right: 0;
  }
  /* entire container, keeps perspective */
  .flip-container {
  	perspective: 1000px;
  	transform-style: preserve-3d;
  }
  	/*  UPDATED! flip the pane when hovered */
  	.flip-container:hover .back {
      opacity: 1;
      transform:scale(1.05);
  		/*transform: rotateY(0deg);*/
  	}
  	.flip-container:hover .front {
      opacity: 0;
  	    /*transform: rotateY(180deg);*/
  	}

  .flip-container, .front, .back {
    width: 33vw;
  	height: 15vw;
  }

  /* flip speed goes here */
  .flipper {
  	transition: 1s;
  	transform-style: preserve-3d;
  	position: relative;
    text-align: center;
  }

  /* hide back of pane during swap */
  .front, .back {
  	/*backface-visibility: hidden;*/
  	transition: 1s;
  	transform-style: preserve-3d;
  	position: absolute;
  	top: 0;
  	left: 0;
  }

  /*  UPDATED! front pane, placed above back */
  .front {
  	z-index: 2;
    background-color: #484848;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e6e6e6;
    /*transform: rotateY(0deg);*/
  }

  /* back, initially hidden pane */
  .back {
      background-color:  #e6e6e6;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #484848;
      /*transform: rotateY(-180deg);*/
  }
}
/******DESKTOP*****/
@media screen and (min-width: 769px) {
.aboutMeContainer {
  height: 15vw;
  background-color: #484848;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
}
.aboutMeChildContainer {
  margin-left: 0;
  margin-right: 0;
}
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	transform-style: preserve-3d;
}
	/*  UPDATED! flip the pane when hovered */
	.flip-container:hover .back {
    opacity: 1;
    transform:scale(1.05);
		/*transform: rotateY(0deg);*/
	}
	.flip-container:hover .front {
    opacity: 0;
	    /*transform: rotateY(180deg);*/
	}

.flip-container, .front, .back {
  width: 33vw;
	height: 15vw;
}

/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;
	position: relative;
  text-align: center;
}

/* hide back of pane during swap */
.front, .back {
	/*backface-visibility: hidden;*/
	transition: 1s;
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
}

/*  UPDATED! front pane, placed above back */
.front {
	z-index: 2;
  background-color: #34495E;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e6e6e6;
  /*transform: rotateY(0deg);*/
}

/* back, initially hidden pane */
.back {
    background-color:  #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #484848;
    /*transform: rotateY(-180deg);*/
}

}
