@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css');

/****Mobile****/
.headerWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.NavBar {
  text-align: right;
  line-height: 3;
}

.headerContainer {
  position: absolute;
  line-height: 1;
  width: 100vw;
  border-bottom: 1px solid #484848;
  color: #484848;
}
.NavBar a {
  color: #484848;
  text-decoration: none;
}


/****TABLET*******/
@media screen and (min-width: 545px) {
  .headerContainer {
    position: absolute;
    line-height: 1;
    width: 100vw;
    border-bottom: 1px solid #484848;
    color: #484848;
  }

  .headerWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;


  }
  .NavBar {
    text-align: right;
    line-height: 3;
  }
  .NavBar a {
    color: #484848;
    text-decoration: none;
  }
}
/******DESKTOP*****/
@media screen and (min-width: 769px) {

.headerContainer {
  position: fixed;
  border-bottom: 1px solid #484848;
  line-height: 1;
  width: 100vw;
  color: #484848;
}

.headerWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.NavBar {
  text-align: right;
  line-height: 3;
}
.NavBar a {
  color: #484848;
  text-decoration: none;
}
}
