@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css');

/****Mobile****/
.headerWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.NavBar {
  text-align: right;
  line-height: 3;
}

.headerContainer {
  position: absolute;
  line-height: 1;
  width: 100vw;
  color: Black;
  font-weight: bold;
}
.headerContainer h1 {
  font-family: Slabo;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: -15px;
}
.headerContainer p {
  color: #A4243B;
  font-weight: bold;
  margin-left:90px;
}
.NavBar a {
  color: #e6e6e6;
  text-decoration: none;
  margin-right: 15px;
  font-family: Slabo;
}


/****TABLET*******/
@media screen and (min-width: 545px) {
  .headerContainer {
    position: absolute;
    line-height: 1;
    width: 100vw;
    color: Black;
    font-weight: bold;
  }
  .headerContainer h1 {
    font-family: Slabo;
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: -15px;
  }
  .headerContainer p {
    color: #A4243B;
    font-weight: bold;
    margin-left: 140px;
  }

  .headerWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .NavBar {
    text-align: right;
    line-height: 3;
  }
  .NavBar a {
    color: #e6e6e6;
    text-decoration: none;
    margin-right: 15px;
    font-family: Slabo;
  }
}
/******DESKTOP*****/
@media screen and (min-width: 769px) {

.headerContainer {
  position: fixed;
  line-height: 1;
  width: 100vw;
  color: #34495E;
  font-weight: bold;
}
.headerContainer h1 {
  font-family: Slabo;
  margin-left: 30px;
  margin-top: 40px;
  margin-bottom: -15px;
  font-family: "Josefin Sans";
  font-weight: bold;
  font-size: 40px;
}
.headerContainer p {
  color: #A4243B;
  font-weight: bold;
  margin-left: 140px;
  font-family: "Josefin Sans";
}

.headerWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.NavBar {
  text-align: right;
  line-height: 2.5;
}
.NavBar a {
  color: #e6e6e6;
  text-decoration: none;
  margin-right: 20px;
  font-family: "Josefin Sans";
}

.NavBar a:hover {
  padding-right: 10px;
  transition: .2s;
  color: #A4243B;
}


}
