.mainContainer {
  background-color: white;
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pageContainer {
  margin-top: -20px;
}

.Featured {
  padding-bottom: 15px;
}
