@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css');

.mainContainer {
  background-image: url("./images/HarderKlum2Mobile.jpg");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.pageContainer {
  margin-top: -20px;
}

.Featured {
  padding-bottom: 15px;
}

/****TABLET*******/
@media screen and (min-width: 545px) {
  .mainContainer {
    background-image: url("./images/HarderKlum2Mobile.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pageContainer {
    margin-top: -20px;
  }

  .Featured {
    padding-bottom: 15px;
  }

}



/******DESKTOP*****/
@media screen and (min-width: 769px) {
  .mainContainer {
    background-image: url("./images/HarderKlum2.jpg");
    height: 660px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pageContainer {
    margin-top: -20px;
  }

  .Featured {
    padding-bottom: 15px;
  }

}
